@page
@model Portal.Pages.Spaces.Index

@{
    ViewData["Title"] = "Spaces";
}

<h2>@ViewData["Title"]</h2>
<ul>
    @foreach (var space in Model.Spaces)
    {
        <li>
            <a asp-page="/Spaces/Details" asp-route-id="@space.SpaceId">@space.Name</a>
        </li>
    }
</ul>