@page

@{
    ViewData["Title"] = "Admin Homepage";
}

<p>You should only be able to see this if you are an admin</p>

<p><a asp-page="/admin/signups">Signup Links</a></p>
<p><a asp-page="/admin/customers/index">Customers</a></p>