@page
@model Portal.Pages.Features

@{
    Layout = null;
}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <title>DLCS: Digital Library Cloud Services, from Digirati</title>
    
    <link href="~/assets/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/portal.css" rel="stylesheet" />
  </head>
  <body>
    
<main>

<div class="container py-3">
  @await Html.PartialAsync("Shared/_GeneralSiteHeader")
  
  
  <div class="container col-xxl-8 px-4 py-5">
  <h2>What is the DLCS?</h2>
  
  <p>If you have an asset - image, audio or video, in any format - the DLCS will provide a web-accessible delivery version.</p>
  <p>For images, this means the IIIF Image API - any image you register with the DLCS will have a IIIF Image Service created for it, 
      which allows you to use that image for deep zoom, for responsive images, for making arbitrary crops, resizes and formats for 
      editorial use, for driving user interfaces through thumbnails and other image derivatives.</p>
  <p>For audio and video, this means different formats suitable for web use for different audiences.</p>
  
  <p>The DLCS can also create IIIF Manifests for single assets or sequences of assets, so that digital objects - books, 
      letters, movies - can be reused in IIIF compantible environments.</p>
  <p>You can use the DLCS as an online tool, with a human-friendly user interface.</p>
  <p>You can also use its rich APIs to integrate with your existing platforms and workflow.</p>
  
  <p>When required, the DLCS can enforce access control on your assets, including the ability to integrate with 
      your existing access control mechanisms.</p>
  
  <h3>History</h3>
  
  <p>The DLCS was originally built as an asset delivery platform for Wellcome Library, and continues to be used by 
      Wellcome Collection to provide IIIF Image Services for over 40 million assets.</p>
  <p>It has been adopted by cultural heritage organisations for small and large scale projects.</p>
  <p>Digirati often build on it in our own projects, for hosting and its ability to generate <i>skeleton</i>
      IIIF Manifests for assets that can then be enhanced in other systems.</p>
  <p>It was designed to separate out those service elements that conform to open standards - the IIIF parts - from the 
      institution-specific bespoke platform that will be different and specialised in different places - 
      nobody has exactly the same mixture of catalogues, digital preservation and workflow, but the IIIF delivery part 
      can work the same way and be commoditised - become a distinct service.</p>
  
  <h3>A flexible foundation for digital presentation</h3>
  <p>This design means that its APIs can be used to integrate with <i>your</i> systems, 
      workflows, digital preservation and other platforms, too.</p>
  <p>Or you can just use it as an ad hoc IIIF hosting platform, where you can drag images in and have working manifests in seconds.</p>
  
  <p>The job of the DLCS is to provide asset delivery. This job changed and will change over time - new video formats, 
      new image formats, different approaches to bandwidth optimisation, responsive design and even versions of IIIF.</p>
  <p>The DLCS commoditises all those aspects, leaving you to concentrate on using these IIIF services for user experience. 
      As new features and outputs are added to the DLCS, you gain the benefits of them for your assets.</p>
  </div>
  
  @await Html.PartialAsync("Shared/_GeneralSiteFooter")
</div>
</main>


  <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  <script src="~/assets/dist/js/bootstrap.bundle.min.js"></script>
  <script src="~/js/portal.js" asp-append-version="true"></script>

      
  </body>
</html>
