@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to DLCS</h1>
    <p>This is the home page - if you can see this you aren't necessarily logged in...</p>
</div>