@page
@using DLCS.Core.Collections
@model Portal.Pages.Keys.IndexModel

@{
  ViewData["Title"] = "Api Keys";
}

<div class="row">
  <div class="col-md-6">
    @if (Model.ApiKeys.IsNullOrEmpty())
    {
      <div class="alert alert-info" role="alert">
        No api keys found for customer
      </div>
    }
    else
    {
      <table class="table col-6">
        <thead>
        <tr>
          <th scope="col">Api Key</th>
          <th scope="col">Secret</th>
          <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var m in Model.ApiKeys)
        {
          <tr>
            <td>@m</td>
            <td>******</td>
            <td>
            </td>
          </tr>
        }
        </tbody>
      </table>
    }
  </div>
</div>

<form method="post" asp-page="/Keys/Create" class="row row-cols-lg-auto g-3 align-items-center">
  <div class="col-4">
    <button type="submit" class="btn btn-primary">Create new key</button>
  </div>
</form>