<html>
  <head>
    <title>This window should close automatically...</title>
  </head>
  <body>
    <p>This window should close automatically...</p>
    <script type="text/javascript">
      window.close();
    </script>
  </body>
</html>