@page "{code}"
@using Microsoft.AspNetCore.WebUtilities;
@model ErrorModel
@{
    ViewData["Title"] = "Error";
}

<div class="d-flex align-items-center justify-content-center flex-grow-1" style="margin-bottom:72px;">
    <div class="text-center">
        <h1 class="display-1 fw-bold">@((int)Model.Code)</h1>
        <p class="lead">
            @Model.Message
        </p>    
    </div>
</div>