@page "{code}"
@using System.Net
@model ErrorModel
@{
    ViewData["Title"] = "Error";
}

<div class="d-flex align-items-center justify-content-center flex-grow-1" style="margin-bottom:72px;">
    <div class="text-center">
        <h1 class="display-1 fw-bold">@((int)Model.Code)</h1>
        @if (TempData["error-page-message"] != null)
        {
            <p class="lead">
                @TempData["error-page-message"]
            </p>
        }
        else
        {
            if (Model.Code == HttpStatusCode.NotFound)
            {
                <p class="lead">
                    The requested resource was not found
                </p>  
            }
        }
    </div>
</div>