@page "/"
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    Layout = "_MainLayout";
}

<div class="container col-11">
    <div class="row flex-lg-row-reverse align-items-center py-lg-4 col-lg-10 col-xl-9 mx-auto">
        <div class="col-10 col-sm-8 col-lg-6">
            <img src="~/img/balloon.png" class="d-block ms-lg-auto img-fluid d-none d-lg-block" height="800">
        </div>
        <div class="col-lg-6 col-md-10">
            <h1 class="display-5 fw-bold lh-1 mb-3">Digital Library Cloud Services</h1>
            @if (!User.Identity.IsAuthenticated)
            {
                <a type="button" class="btn btn-primary col-3" asp-page="/Account/Login">Sign In</a>
                <a type="button" class="btn" asp-page="/Signup">Register</a>
            }
        </div>
    </div>
    
    @if (User.Identity.IsAuthenticated)
    {
        if (Model.Spaces.Count == 0)
        {
            <div class="card">
                <div class="card-header">
                    Getting started
                </div>
                <div class="card-body">
                    <h5 class="card-title">Welcome to the DLCS!</h5>
                    <p class="card-text">As a new user, you can get started by creating a space to assemble content in.</p>
                    <p>Here's a <a href="https://drive.google.com/file/d/14d-HcbftIt1qMhx-qV1jf29Hkn9e03E2/view">very short video</a> to get a feel for it.</p>
                    <a asp-page="/Spaces/Index" class="btn btn-primary">Go to spaces</a>
                </div>
            </div>
        }

        <div class="container" id="icon-grid">
            <div class="row row-cols-1 row-cols-sm-1 row-cols-md-3 row-cols-lg-3 g-4 py-5">
                <!--
                <div class="col d-flex align-items-start">
                    <i class="text-muted flex-shrink-0 me-3" data-feather="list"></i>
                    <div>
                        <h4 class="fw-bold mb-0">
                            <a class="text-decoration-none" asp-page="/Queue/Index">Queue</a>
                        </h4>
                        <p>Paragraph of text beneath the heading to explain the heading.</p>
                    </div>
                </div>
                -->
                <div class="col d-flex align-items-start">
                    <i class="text-muted flex-shrink-0 me-3" data-feather="folder"></i>
                    <div>
                        <h4 class="fw-bold mb-0">
                            <a class="text-decoration-none" asp-page="/Spaces/Index">Spaces</a>
                        </h4>
                        <p>Paragraph of text beneath the heading to explain the heading.</p>
                    </div>
                </div>
                <!--
                <div class="col d-flex align-items-start">
                    <i class="text-muted flex-shrink-0 me-3" data-feather="hard-drive"></i>
                    <div>
                        <h4 class="fw-bold mb-0">
                            <a class="text-decoration-none" asp-page="/Storage/Index">Storage</a>
                        </h4>
                        <p>Paragraph of text beneath the heading to explain the heading.</p>
                    </div>
                </div>
                <div class="col d-flex align-items-start">
                    <i class="text-muted flex-shrink-0 me-3" data-feather="globe"></i>
                    <div>
                        <h4 class="fw-bold mb-0">
                            <a class="text-decoration-none" asp-page="/Origins/Index">Origins</a>
                        </h4>
                        <p>Paragraph of text beneath the heading to explain the heading.</p>
                    </div>
                </div>
                
           
                <div class="col d-flex align-items-start">
                    <i class="text-muted flex-shrink-0 me-3" data-feather="lock"></i>
                    <div>
                        <h4 class="fw-bold mb-0">
                            <a class="text-decoration-none" asp-page="/Auth/Index">Access Control</a>
                        </h4>
                        <p>Paragraph of text beneath the heading to explain the heading.</p>
                    </div>
                </div>
               
                <div class="col d-flex align-items-start">
                    <i class="text-muted flex-shrink-0 me-3" data-feather="search"></i>
                    <div>
                        <h4 class="fw-bold mb-0">
                            <a class="text-decoration-none" asp-page="/Queries/Index">Named queries</a>
                        </h4>
                        <p>Paragraph of text beneath the heading to explain the heading.</p>
                    </div>
                </div>
                -->
                <div class="col d-flex align-items-start">
                    <i class="text-muted flex-shrink-0 me-3" data-feather="users"></i>
                    <div>
                        <h4 class="fw-bold mb-0">
                            <a class="text-decoration-none" asp-page="/Users/Index">Users</a>
                        </h4>
                        <p>Paragraph of text beneath the heading to explain the heading.</p>
                    </div>
                </div>
                <div class="col d-flex align-items-start">
                    <i class="text-muted flex-shrink-0 me-3" data-feather="key"></i>
                    <div>
                        <h4 class="fw-bold mb-0">
                            <a class="text-decoration-none" asp-page="/keys/index">API Keys</a>
                        </h4>
                        <p>Paragraph of text beneath the heading to explain the heading.</p>
                    </div>
                </div>
            </div>
        </div>
    }
</div>