@page
@model Portal.Pages.Signup

@{
  Layout = "_MainLayout";
}

<h2>Sign up for an account</h2>
<p>Soon, you'll be able to sign up for a DLCS account here.</p>
<p>
  But while we're getting this new version of the DLCS ready,
  you can just send us an email and we'll send you a signup link back.
</p>
<p><a href="mailto:contact@digirati.com">contact@digirati.com</a></p>
