@page
@model Portal.Pages.Signup

@{
    Layout = null;
}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <title>DLCS: Digital Library Cloud Services, from Digirati</title>
    
    <link href="~/assets/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/portal.css" rel="stylesheet" />
  </head>
  <body>
    
<main>

<div class="container py-3">
  @await Html.PartialAsync("Shared/_GeneralSiteHeader")
  
  <h2>Sign up for an account</h2>
  
  <p>Soon, you'll be able to sign up for a DLCS account here.</p>
  <p>But while we're getting this new version of the DLCS ready, 
    you can just send us an email and we'll send you a signup link back.
  </p>
  <p><a href="mailto:contact@digirati.com">contact@digirati.com</a></p>
  
  @await Html.PartialAsync("Shared/_GeneralSiteFooter")
</div>
</main>


  <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
  <script src="~/assets/dist/js/bootstrap.bundle.min.js"></script>
  <script src="~/js/portal.js" asp-append-version="true"></script>

      
  </body>
</html>
