@inject Microsoft.AspNetCore.Http.IHttpContextAccessor httpContextAccessor;

<header>
    <div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
        <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
            <img src="~/img/digirati.svg" alt="Digirati logo" width="100"/>
            <span class="fs-4"></span>
        </a>

        <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
            @if (httpContextAccessor.HttpContext.User.Identity.IsAuthenticated)
            {
                <form asp-controller="Account" asp-action="Logout" method="post" id="logoutForm">
                    @User.Identity.Name
                    <button type="submit" class="btn btn-link text-decoration-none">Sign Out</button>
                </form>
            }
            else
            {
                <a class="btn btn-link text-dark text-decoration-none" asp-page="/Account/Login">Sign In</a>
            }
        </nav>
    </div>
</header>
