@page "{signupCode}"
@model Portal.Pages.Account.SignupModel

@{
    ViewData["Title"] = "Create a DLCS account";
}

<div class="row">
    <div class="col-md-9">
        @if (TempData["signup-attempt-message"] != null)
        {
            var message = TempData["signup-attempt-message"] as string;
            if (message == "Success")
            {
                <div class="alert alert-success" role="alert">
                    You have successfully created an account! 
                    You can now <a href="/account/login">log in</a> with the email and password you just supplied.
                </div>
            }
            else
            {
                <div class="alert alert-danger" role="alert">
                    UNABLE TO CREATE ACCOUNT<br/>
                    @message
                </div>
            }
        } 
        else if (User?.Identity != null && User.Identity.IsAuthenticated)
        {
            <div class="alert alert-danger" role="alert">
                You can't use this sign up link if you are already signed in to the Portal.
            </div>
        }
        else if (Model.ValidLink)
        {
            <form method="post">
                <hr>
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Input.DisplayName">Display name</label>
                    <input asp-for="Input.DisplayName" class="form-control" aria-describedby="displayNameHelp">
                    <span asp-validation-for="Input.DisplayName" class="text-danger"></span>
                    <small id="displayNameHelp" class="form-text text-muted">For example, your organisation name. Used internally by the DLCS for admin and reporting.</small>
                </div>
                <div class="form-group">
                    <label asp-for="Input.Slug">URL name</label>
                    <input asp-for="Input.Slug" class="form-control" aria-describedby="slugHelp" placeholder="my-org">
                    <span asp-validation-for="Input.Slug" class="text-danger"></span>
                    <small id="slugHelp" class="form-text text-muted">Your IIIF Image URLs will include this as part of the address.
                        For example, dlcs.io/iiif-img/<b>my-org</b>/3/my-deep-doom-image.</small>
                </div>
                <div class="form-group">
                    <label asp-for="Input.Email">Email address</label>
                    <input asp-for="Input.Email" class="form-control">
                    <span asp-validation-for="Input.Email" class="text-danger" aria-describedby="emailHelp"></span>
                    <small id="emailHelp" class="form-text text-muted">Filling out this form creates the <i>account</i> above, 
                        and also creates one user for logging into the portal. You can create more portal users for your account later. You will also
                        be able to create API Keys for developing applications that use the DLCS.
                        </small>
                </div>
                <div class="form-group">
                    <label asp-for="Input.Password"></label>
                    <input asp-for="Input.Password" class="form-control">
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.ConfirmPassword"></label>
                    <input asp-for="Input.ConfirmPassword" class="form-control">
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Create account</button>
                </div>
            </form>
        }
        else
        {
            <div class="alert alert-danger" role="alert">
                This signup link is not valid!
            </div>
        }
    </div>
</div>